[defaults]
inventory = ansible/inventory/generated/hosts.json
roles_path = ansible/roles
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
host_key_checking = True
home = ansible/.cache
local_tmp = ansible/.cache/tmp

[ssh_connection]
pipelining = True
