project_id            = "REPLACE_WITH_PROJECT_ID"
state_bucket_name     = "REPLACE_WITH_GLOBALLY_UNIQUE_STATE_BUCKET"
state_bucket_location = "europe-west1"
state_operator_member = "group:REPLACE_WITH_STATE_OPERATORS@example.com"
